@charset "utf-8";

*, :before, :after {
	background-repeat: no-repeat;
	box-sizing: border-box;
}
::-moz-selection {
	text-shadow: none;
}
@-ms-viewport {
	width: device-width;
}
html {
	background-color: #fff;
	font-family: sans-serif;
	font-kerning: normal;
	font-size: 100%;
	font-size-adjust: 100%;
	font-variant: none;
	font-variant-numeric: lining-nums;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
	min-height: 100vh;
	min-width: 320px;
	position: relative;
	-o-tab-size: 4;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-tap-highlight-color: transparent;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	word-wrap: break-word;
}
html, pre, textarea {
	-ms-overflow-style: scrollbar;
}
body {
	margin: 0;
}
article, aside, details, dialog, dl, figcaption, figure, footer, header, main, nav, ol, section, ul {
	display: block;
}
address, blockquote, dl, figure, ol, p, pre, table, ul {
	margin: 0 0 1rem;
}
address:last-child, blockquote:last-child, dd:last-child, dl:last-child, figure:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, ol:last-child, p:last-child, pre:last-child, table:last-child, ul:last-child, dl dl, ol ol, ul ul, dl ol, dl ul, ol dl, ol ul, ul dl, ul ol {
	margin-bottom: 0;
}
address, details, dl, figcaption, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul {
	line-height: 1.5;
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
dd, h1, h2, h3, h4, h5, h6 {
	margin: 0 0 .5rem;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.375rem;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 1.125rem;
}
h6 {
	font-size: 1rem;
}
hr {
	border: none;
	border-bottom: 1px solid #a9a9a9;
	box-sizing: content-box;
	height: 0;
	margin: 1rem 0;
}
pre {
	overflow: auto;
}
summary {
	display: list-item;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
table caption {
	caption-side: bottom;
}
table caption, table th {
	text-align: left;
}
table td, table th {
	border: 1px solid #a9a9a9;
	padding: .125rem .25rem;
}
ol, ul {
	padding: 0 0 0 2.5rem;
}
a {
	background-color: transparent;
}
a:hover, a:active, :focus {
	outline: none;
	outline-width: 0;
}
abbr[title] {
	border-bottom: none;
	cursor: help;
	text-decoration: underline;
	-moz-text-decoration: underline dotted;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}
address {
	font-style: inherit;
}
b, dt, optgroup, strong {
	font-weight: 700;
}
cite, dfn, em, i, var {
	font-style: italic;
}
mark {
	background-color: #ff0;
	color: #000;
}
small, sub, sup {
	font-size: 75%;
}
sub, sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -.25em;
}
sup {
	top: -.5em;
}
audio, canvas, label, output, progress, video {
	display: inline-block;
}
audio, canvas, iframe, img, meter, progress, select, svg, video {
	vertical-align: middle;
}
audio:not([controls]) {
	height: 0;
}
audio:not([controls]), datalist, [hidden], template {
	display: none !important;
}
img, svg, video {
	max-height: 100%;
	max-width: 100%;
	-o-object-fit: contain;
	-ms-object-fit: contain;
	object-fit: contain;
}
iframe, img, svg, video {
	border: none;
}
svg:not(:root) {
	overflow: hidden;
}
a[href], button, label[for], summary, [type="button"], [type="color"], [type="file"], [type="image"], [type="reset"], [type="submit"] {
	cursor: pointer;
}
button, hr, input, select {
	overflow: visible;
}
button, input, optgroup, option, output, select, textarea {
	color: inherit;
	font: inherit;
	line-height: 1;
	margin: 0;
	padding: .125rem .25rem;
	text-shadow: none;
}
[type="date"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], select, textarea {
	border: 1px solid #a9a9a9;
}
button, select {
	text-transform: none;
}
[disabled] {
	cursor: not-allowed;
}
fieldset {
	border: 1px solid #a9a9a9;
	margin: 0;
	min-width: 0;
	padding: .35rem .75rem .625rem;
}
legend {
	color: inherit;
	display: table;
	font: inherit;
	margin: 0;
	max-width: 100%;
	padding: 0 .25rem;
	white-space: normal;
}
textarea {
	line-height: 1.2;
	overflow: auto;
	overflow-x: hidden;
	resize: vertical;
	vertical-align: top;
}
[type="checkbox"], [type="radio"] {
	height: .75em;
	padding: 0;
	vertical-align: -.05em;
	width: .75em;
}
[type="number"]:not([min]), [type="number"]:not([max]) {
	width: 4em;
}
button, html [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
	border-radius: 0;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	border: none;
	padding: 0;
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
	outline: none;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	color: inherit;
	font: inherit;
}
[data-icon],
[data-icon]:before {
	display: inline-block;
	speak: none;	
}
[data-icon] {
	font-size: inherit;
	font-style: normal;
	line-height: 1;
	min-width: 1em;
	text-align: center;
	text-transform: none;
}
[data-icon]:before {
	content: attr(data-icon);
}
a.sf, a.sf:hover, a.sf:active {
	color: inherit;
	font: inherit;
	text-decoration: inherit;
}
a.sf, ol.sf>li, ul.sf>li {
	display: inline-block;
}
button.sf, input.sf {
	background: none;
	border: none;
	padding: 0;
}
hr.sf {
	background: none;
	border-color: transparent;
}
img.sf, svg.sf {
	pointer-events: none;
	-ms-user-drag: none;
	-moz-user-drag: none;
	-webkit-user-drag: none;
	user-drag: none;
}
figure.left {
	float: left;
	margin-right: 1rem;
}
figure.right {
	float: right;
	margin-left: 1rem;
}
ol.sf, ul.sf {
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
}
svg.icon {
	color: inherit;
	display: inline-block;
	font-size: inherit;
	line-height: 1;
	height: 1em;
	min-width: 1em;
	width: auto;
	vertical-align: -.125em;
}
svg.icon:not(.kc) {
	fill: currentColor;
}
.ns {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
